{% extends 'base/bootstrap_template.html' %}

{% load static %}
{% block css_section %}
    <link rel="stylesheet" href="{% static 'home/css/search_css.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/navbar_css.css' %}">
    <link rel="stylesheet" href="{% static 'base/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/friend.css' %}">

{% endblock %}

{% block main_body %}
    <div class="application">
        {% include 'home/navbar.html' %}

        <div class="notification-wrapper" id="user-{{ user.username }}">

        </div>

        <div class="main-section">
            <div class="left">
                {#                <div class="sidebar-items">#}
                {#                    <div class="sidebar-item first-item" id="friend-list">#}
                {#                        <h5>Friends</h5>#}
                {#                    </div>#}
                {#                    <div class="sidebar-item" id="requested-friends">#}
                {#                        <h5>Friend Requests ({{ requested }})</h5>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
            <div class="center infinite-container">
                {% if friends %}
                    {% for friend in friends %}
                        <div class="user-display infinite-item">
                            <div class="user-image">
                                <a href="{% url 'profile:user_profile' friend.friend.slug %}">
                                    <img src="{{ friend.friend.user_profile.profile_image.url }}" alt="">
                                </a>
                            </div>
                            <div class="user-info">
                                <div class="username">
                                    <a href="{% url 'profile:user_profile' friend.friend.slug %}">
                                        {% if friend.friend.first_name %}
                                            <h6>{{ friend.friend.first_name }} {{ friend.friend.last_name }}</h6>
                                        {% else %}
                                            <h6>{{ friend.friend.username }}</h6>
                                        {% endif %}
                                    </a>
                                </div>
                                {% if u.user_profile.city %}
                                    <div class="user-location">
                                        <h6>Lives
                                            in {{ friend.friend.user_profile.city }}, {{ friend.friend.user_profile.country }}</h6>
                                    </div>
                                {% endif %}
                            </div>
                            <a href="{% url 'chat:chat_with_friend' friend.friend.username %}">
                                <div class="message-friend" id="user-{{ friend.id }}">
                                    <i class="far fa-comments"></i>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                    <div class="loading" style="display: none;">
                        Loading...
                    </div>

                    {% if page_obj.has_next %}
                        <a class="infinite-more-link"
                           href="/friend/?q={{ query }}&page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}

                {% endif %}
            </div>
            <div class="right">

            </div>
        </div>
    </div>


{% endblock %}

{% block script_section %}

    <script src="{% static 'home/script/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'home/script/infinite.min.js' %}"></script>
    <script src="{% static 'home/script/waypoint.js' %}"></script>
    <script src="{% static 'home/script/navbar_script.js' %}"></script>

    <script src="{% static 'home/script/friend.js' %}"></script>



{% endblock %}


