{% extends 'base/bootstrap_template.html' %}

{% load static %}
{% block css_section %}
    <link rel="stylesheet" href="{% static 'home/css/search_css.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/navbar_css.css' %}">
    <link rel="stylesheet" href="{% static 'base/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/profile_style.css' %}">

{% endblock %}

{% block main_body %}
    <div class="application">
    {% include 'home/navbar.html' %}

    <div class="notification-wrapper" id="user-{{ user.username }}">

    </div>

    <div class="main-section row">
        <div class="container col-lg-7, col-md-9">
            <div class="user-personal-information ">
                <div class="profile-image-section">
                    <div class="cover-image">
                        <img src="{{ profile.user_profile.cover_image.url }}" alt="cover image">
                    </div>
                    <div class="profile-image">
                        <img src="{{ profile.user_profile.profile_image.url }}" alt="profile image">
                    </div>
                </div>
                <div class="user-info-section">
                    <div class="username-section">
                        {% if profile.first_name %}
                            <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                        {% else %}
                            <h2>{{ profile.username }}</h2>
                        {% endif %}
                    </div>
                    <div class="headline-section">
                        {% if profile.user_profile.headline %}
                            <h5>{{ profile.user_profile.headline }}</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="profile-main-section">
                    <div class="left-section">
                        <div class="photos-section">

                        </div>
                        <div class="mutual-friends-section">
                            <h4>Mutual Friends</h4>
                            <div class="mutual-friends-display">
                                <div class="row">
                                    {% for mutual_friend in mutual_friends %}
                                        <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
                                            <div class="card mutual-friend-card">
                                                <div class="card-content">
                                                    <img src="/media/{{ mutual_friend.friend__user_profile__profile_image }}"
                                                         class="card-img-top" alt="...">
                                                    {% if mutual_friend.friend__first_name %}
                                                        <a href="{% url 'profile:user_profile' mutual_friend.friend__slug %}"
                                                           class="mutual-friend-name">{{ mutual_friend.friend__first_name }} {{ mutual_friend.friend__last_name }}</a>
                                                    {% else %}
                                                        <a href="{% url 'profile:user_profile' mutual_friend.friend__slug %}"
                                                           class="mutual-friend-name">{{ mutual_friend.friend__username }}</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <a href="{% url 'friend:mutual_friend_list' requested_user_slug %}"
                                       class="btn btn-primary see-all-mutual-friends-button"> See All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-section">
                        <div class="posts-section">
                            {% for post in posts %}
                                <div class="post infinite-item">
                                    <div class="post-info">
                                        <div class="user-image">
                                            <img src="{{ post.user.user_profile.profile_image.url }}" alt="image">
                                        </div>
                                        <div class="info ">
                                            <div class="username">
                                                <a href="{% url 'profile:user_profile' post.user.slug %}">
                                                    <h5>{{ post.user.username }}</h5></a>
                                            </div>
                                            <div class="date-time">
                                                <h5>{{ post.add_time }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-title">
                                        <h5>{{ post.title }}</h5>
                                    </div>
                                    <div class="post-content">
                                        <div class="content">

                                        </div>
                                        <div class="post-image">
                                            {% if post.post_image %}
                                                {% if post.post_image.count == 1 %}
                                                    <img class="d-block w-100 post-image"
                                                         src="{{ post.post_image.first.image.url }}"
                                                         alt="image">
                                                {% else %}

                                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                                                        <div class="carousel-inner">

                                                            {% for img in post.post_image.all %}
                                                                {% if forloop.counter == 1 %}
                                                                    <div class="carousel-item active">
                                                                        <img class="d-block w-100 post-image"
                                                                             src="{{ img.image.url }}"
                                                                             alt="image">
                                                                    </div>
                                                                {% else %}
                                                                    <div class="carousel-item ">
                                                                        <img class="d-block w-100 post-image"
                                                                             src="{{ img.image.url }}"
                                                                             alt="image">
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}

                                                        </div>

                                                        <a class="carousel-control-prev " href="#myCarousel"
                                                           role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon carousel-movers"
                                                      aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>

                                                        <a class="carousel-control-next" href="#myCarousel"
                                                           role="button" data-slide="next">
                                                <span class="carousel-control-next-icon carousel-movers"
                                                      aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>

                                                        <ol class="carousel-indicators">
                                                            {% for img in post.post_image.all %}
                                                                {% if forloop.counter == 1 %}
                                                                    <li data-target="#myCarousel" data-slide-to="1"
                                                                        class="active"></li>
                                                                {% else %}
                                                                    <li data-target="#myCarousel"
                                                                        data-slide-to={{ forloop.counter }}></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ol>

                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="post-stats">
                                        <div class="stats-display">

                                            <a href="" class="like-number-display" id="like-number-{{ post.id }}"
                                               data-toggle="modal"
                                               data-target="#likesModel">{{ post.like_num }} likes this post</a>

                                            <h5 class="display-comments" id="comment-{{ post.id }}"
                                                data-url="{% url 'posts:more_comments' %}">{{ post.comment_num }}
                                                comments</h5>
                                        </div>
                                        <div class="stats-option">
                                            <div class="like-option">
                                                <h5 id="like-{{ post.id }}" class="like-buttons"><i
                                                        class="far fa-thumbs-up"></i>
                                                    <span>Like</span>
                                                </h5>
                                            </div>
                                            <div class="comment-option">
                                                <h5 class="display-comments"><i class="far fa-comment"></i>
                                                    <span>Comment</span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-comments">
                                        <div class="comments-display">
                                        </div>
                                        <div class="post-new-comment">
                                            <div class="user-image">
                                                <img src="{{ user.user_profile.profile_image.url }}" alt="image">
                                            </div>
                                            <form method="post" data-url="{% url 'posts:post_new_comment' %}"
                                                  class="comment-form"
                                                  id="{{ post.id }}">
                                                {% csrf_token %}
                                                <div class="input-field comment-input-field">
                                                    <div class="input-group">
                                                        <input type="text" name="comment"
                                                               class="form-control new-comment-input"
                                                               placeholder="Write a comment">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div id="modal-{{ post.id }}" class="modal fade" role="dialog"
                                         data-url="{% url 'posts:post_like_users' %}">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">People who like this post</h5>
                                                </div>
                                                <div class="modal-body" id="modal-content-{{ post.id }}">

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script_section %}

    <script src="{% static 'home/script/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'home/script/infinite.min.js' %}"></script>
    <script src="{% static 'home/script/waypoint.js' %}"></script>
    <script src="{% static 'home/script/navbar_script.js' %}"></script>

    <script src="{% static 'home/script/friend.js' %}"></script>



{% endblock %}


