.notification-wrapper {
    width: 25%;
    z-index: 1000000;
    position: absolute;
    right: 0;
}

#user-notification {
    display: flex;
    justify-content: space-between;
}

.notification-section {
    display: flex;
}

.user-info-section {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.user-info-section .username {
    margin-top: 0.1rem;
}

.user-info-section .message {
    margin-top: -0.3rem;
}

.close-section {
    position: relative;
    right: 0;
}