.user-display {
    display: flex;
    background-color: #eeeeee;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.search-query {
    padding: 2rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.user-info h6 {
    text-transform: capitalize;
}

.user-location h6 {
    font-weight: 400;
}

.add-friend, .message-friend {
    border-radius: 50%;
    background-color: #fff;
    padding: 1rem;
    margin-top: -3px;
    position: absolute;
    left: 65%;
    transition: 0.1s;
}

.add-friend i, .message-friend i {
    font-size: 20px;
}

.add-friend:hover, .message-friend:hover {
    cursor: pointer;
    background-color: #faf6f6;
    transition: 0.1s;
}